@import "tailwindcss";
@plugin "@tailwindcss/typography";

@custom-variant dark (&:where(.dark, .dark *));

@layer utilities {
  .prose pre,
  .prose pre code,
  .prose code,
  .prose .hljs,
  pre[class*="language-"],
  code[class*="language-"],
  .hljs {
    border-width: 0 !important;
    border-style: none !important;
    box-shadow: none !important;
    background-color: transparent !important;
    padding: 0 !important;
    margin: 0 !important;
  }
  .prose pre {
    border-radius: 0 !important;
  }
}